.card {
  width: 70%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  font-family: Roboto;
}

.icon-card {
  margin-right: 25px;
}

.indicator {

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.category {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
