.logo {
  display: flex;
  margin-left: 50px;
}

.picture-circle {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: #e60000;
}

.name-app {
  color: #e60000;
  font-size: 20px;
  margin-left: 15px;
}
