.profil-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 130px 6% 58% 21% 8%;
    grid-template-rows: 8vh 24vh repeat(2, 30vh) 8vh;
}

.profil-container{
    position: relative;
}