.profil-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 130px 6% 58% 21% 8%;
    grid-template-rows: 8vh 24vh repeat(2, 30vh) 8vh;
}

.profil-container{
    position: relative;
}

.txt-error{
    font-size: 50px;
    margin: 0;
    grid-area: 3/3/5/5;
    text-align: center;
    position: relative;
    top: 60px;

}